[submodule "docker/docker_vault"]
	path = templates/docker/docker_vault
	url = https://github.com/marco-lancini/docker_vault
[submodule "kubernetes/kubespray"]
	path = kubernetes/kubespray
	url = https://github.com/kubernetes-sigs/kubespray
